<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Interview Shedule</title>
</head>
<body>
<h1 align="center">Interview Shedule</h1>
<h2 align="center">Get An Applicant to Assign Interview</h2>
<table align="center" border="0">

    <tr>
        <td>Select An Applicant Id</td>
        <td><select name="select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>



        </select></td>
    </tr>
    <tr><td colspan="2" align="center"><button type="submit">GetDetails</button></td></tr>
</table>
</body>
</html>