
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
<h1 align="center" style="background: navajowhite">HR Operation Managment</h1>
<ul>
    <li><a class="active" href="{% url 'add' %}">Add Employee</a></li>
    <li><a class="active" href="{% url 'viewemp' %}">View Employee</a></li>
    <li><a href="{% url 'updateemp' %}">Update Employee</a></li>
    <li><a href="{% url 'deleteemp' %}">Delete Employee</a></li>
    <li><a href="{%  url 'home' %}">Log-out</a></li>
</ul>
{% block admincomman %}

{% endblock %}
</body>
</html>