{% extends 'home.html' %}
{% block common %}
    <h1 align="center" style="color: hotpink">Applicant Login Page</h1>
    <form action="{%url 'aplicant_login'  %}" method="post">
    {% csrf_token %}
    <table align="center" border="0">
    <tr><td>User Name</td>
        <td><input type="text" name="aun" size="30" required ></td>
    </tr>
    <tr><td>Password</td>
        <td><input type="password" name="aup" size="30" required ></td>
    </tr>
    <tr><th colspan="2"><button type="submit">Log-In </button></th></tr>
    </table>
    <table>

    </table>
    {% if messages %}
        {% for x in messages %}
            <h1>{{ x }}</h1>
        {% endfor %}
    {% endif %}
    </form>

{% endblock %}